<div class="dashboard-container">
  <div class="flex">
    <div class="card" *ngFor="let card of sellerCards">
      <app-cards
        [iconClass]="card.iconClass"
        [label]="card.label"
        [value]="card.value"
        [changeType]="card.changeType"
        [changeValue]="card.changeValue"
        [sinceText]="card.sinceText"
        [cardColor]="card.cardColor"
      >
      </app-cards>
    </div>
  </div>

  <div class="table-container">
    <app-tables
    [tableColumns]="tableColumn" [tableData]="tableData"
    ></app-tables>
  </div>
</div>
