<div class="card">
  <div class="card-body">
    <div class="card-inner-body">
      <div class="card-icon" [ngStyle]="{'background-color': cardColor}">
        <i [class]="iconClass" aria-hidden="true"></i>
      </div>
      <div class="card-content">
        <p class="card-label">{{ label }}</p>
        <h4 class="card-value">{{ value }}</h4>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <small class="since-text">{{ sinceText }}</small>
    <small [ngClass]="{'text-success': changeType === 'up', 'text-danger': changeType === 'down'}" class="change-value">
      <i [ngClass]="changeType === 'up' ? 'fa fa-caret-up' : 'fa fa-caret-down'" aria-hidden="true"></i>
      {{ changeValue }}
    </small>
  </div>
</div>
