<div class="dashboard-container">
  <div class="flex">
    <div class="card" *ngFor="let card of statCards">
      <app-cards
        [iconClass]="card.iconClass"
        [label]="card.label"
        [value]="card.value"
        [changeType]="card.changeType"
        [changeValue]="card.changeValue"
        [sinceText]="card.sinceText"
        [cardColor]="card.cardColor">
      </app-cards>
  </div>
  </div>

  <div class="chart-taskpane flex">
    <div><app-task-pane></app-task-pane></div>
    <div><app-chart-panel></app-chart-panel></div>
  </div>
</div>
